scipy==1.6.0
seaborn==0.9.0
tqdm==4.56.0
shortuuid==1.0.1
numpy==1.19.5
tornado==6.1
matplotlib==3.3.4
h5py==3.6.0
brotli==1.0.9
cryptography==36.0.1
Cython==0.29.26
docutils==0.18.1
importlib_metadata==4.10.1
keyring==23.5.0
lockfile==0.12.2
lxml==4.7.1
monotonic==1.6
ordereddict==1.1
Pillow==9.0.0
protobuf==3.19.3
pyOpenSSL==21.0.0
PyYAML==6.0
wincertstore==0.2.1
zipp==3.7.0
